1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
	
 body{
     background: #964B00;
}
 .form-login{
     margin-top: 13%;
}
 .outter-form-login {
     padding: 20px;
     background: #EEEEEE;
     position: relative;
     border-radius: 10px;
}
 .logo-login {
     position: absolute;
     font-size: 35px;
     background: #292828;
     color: #FFFFFF;
     padding: 20px 18px;
     top: -40px;
     border-radius: 50%;
     left: 40%;
}
 .inner-login .form-control {
     background: #D3D3D3;
}
 h3.title-login {
     font-size: 25px;
     margin-bottom: 30px;
}
 
 .forget {
     margin-top: 20px;
     color: #ADADAD;
}
 .btn-custom-green {
     background: #292828;
     color: #fff;
	 font-size: 16px;
 font-family: Comic Sans MS, cursive;
}
input[type=text]
{
 color: #666;
 font-size: 16px;
 border: 2px solid #ccc;
}

input[type=password]
{
 border: 2px solid #ccc;
 color: #666;
 font-size: 16px;
}

input:required {
    color: #666;
}